[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.md]
search = version-{current_version}-blue.svg
replace = version-{new_version}-blue.svg

[bumpversion:file:docs/releases/changelog.md]

