[run]
branch = True
source = sele_saisie_auto

[report]
omit =
    tests/*
    src/sele_saisie_auto/selenium_driver_manager.py
    src/sele_saisie_auto/orchestration/automation_orchestrator.py
    src/sele_saisie_auto/selenium_utils/duplicate_day_detector.py
    src/sele_saisie_auto/saisie_automatiser_psatime.py
